################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DmScreenAPI/.vs/DmScreenAPI/v16/Server/sqlite3
DmScreenAPI/.vs/DmScreenAPI/v15/Server/sqlite3/db.lock
DmScreenAPI/.vs/DmScreenAPI/v15/Server/sqlite3/storage.ide
DmScreenAPI/.vs/DmScreenAPI/v15/Server/sqlite3/storage.ide-shm
DmScreenAPI/.vs/DmScreenAPI/v15/Server/sqlite3/storage.ide-wal
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.deps.json
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.dll
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.pdb
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.runtimeconfig.dev.json
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.assets.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csproj.CoreCompileInputs.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csproj.FileListAbsolute.txt
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csprojAssemblyReference.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.dll
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.pdb
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DmScreenAPI/DmScreenAPI/obj/DmScreenAPI.csproj.nuget.cache
DmScreenAPI/DmScreenAPI/obj/DmScreenAPI.csproj.nuget.g.props
DmScreenAPI/DmScreenAPI/obj/project.assets.json
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.deps.json
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.dll
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.pdb
DmScreenAPI/DmScreenAPI/bin/Debug/netcoreapp2.2/DmScreenAPI.runtimeconfig.dev.json
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.assets.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csproj.CoreCompileInputs.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csproj.FileListAbsolute.txt
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.csprojAssemblyReference.cache
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.dll
DmScreenAPI/DmScreenAPI/obj/Debug/netcoreapp2.2/DmScreenAPI.pdb
DmScreenAPI/DmScreenAPI/obj/DmScreenAPI.csproj.nuget.cache
DmScreenAPI/DmScreenAPI/obj/DmScreenAPI.csproj.nuget.g.props
DmScreenAPI/DmScreenAPI/obj/project.assets.json
